<!-- index.html -->
{% extends 'inicio/base.html' %}
{% load static %}
{% block head_extra %}
<!-- Conteúdo adicional para o cabeçalho desta página -->
<style>
   #map {
      height: 400px;
   }

   body {
      font-family: 'Montserrat', sans-serif;
   }
</style>
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
{% endblock %}

{% block content %}
<!-- Conteúdo específico desta página -->
<div class="container mt-5">
   <h2 class="mb-4 fw-bold">Inicio</h2>
</div>
<div class="container mt-5">
   <div class="row">
      <div class="col">
         <div id="map"></div>
      </div>
   </div>
</div>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script>
   // Seu script específico para esta página
   var map = L.map('map').setView([-11.6938, -62.7184], 13);
   L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '© OpenStreetMap contributors'
   }).addTo(map);

   var armadilha01 = L.marker([-11.69129, -62.74881]).addTo(map).bindPopup('Armadilha 01');
   var armadilha02 = L.marker([-11.7087, -62.7285]).addTo(map).bindPopup('Armadilha 02');
   var armadilha03 = L.marker([-11.6901, -62.6921]).addTo(map).bindPopup('Armadilha 03');
   var armadilha04 = L.marker([-11.7286, -62.7074]).addTo(map).bindPopup('Armadilha 04');

   // Adicionar marcadores conforme necessário
</script>
{% endblock %}