{% extends 'inicio/base.html' %}
{% load static %}

{% block head_extra %}
<style>
    body {
        font-family: 'Montserrat', sans-serif;
    }
</style>
{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="fw-bold">Proprietarios Cadastrados</h2>
        <div class="d-flex align-items-center">
            <input type="text" class="form-control me-2" placeholder="Buscar...">
            <button type="button" class="btn btn-success me-2 rounded-3 align-self-center flex-shrink-0"
                data-bs-toggle="modal" data-bs-target="#cadastraproprietario">
                <i class="bi bi-pencil-square"></i> Cadastrar Proprietario
            </button>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Imagem</th>
                <th scope="col">Nome</th>
                <th scope="col">Contato</th>
                <th scope="col">Email</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for proprietario in proprietarios %}
            <tr>
                <td class="align-middle">
                    {% if proprietario.imagem %}
                    <img src="{{ proprietario.imagem.url }}" class="rounded-circle" alt="" width="40" height="40">
                    {% else %}
                    <!-- Coloque uma imagem padrão ou deixe em branco, dependendo da sua preferência -->
                    <img src="{% static 'assets/images/usuariopadrao.png' %}" class="rounded-circle" alt="Sem Imagem"
                        width="40" height="40">
                    {% endif %}
                </td>
                <td class="align-middle">{{ proprietario.nome }}</td>
                <td class="align-middle">{{ proprietario.numero_telefone }}</td>
                <td class="align-middle">{{ proprietario.email }}</td>
                <!-- Adicione botões de ação conforme necessário -->
                <td class=" text-end align-middle">
                    <button class="btn btn-success ps-2 pe-2 rounded-3">
                        <i class="bi bi-eye-fill"></i> Propriedades
                    </button>
                    <button class="btn btn-success ps-2 pe-2 rounded-3" data-bs-target="#editarproprietario"
                        data-bs-toggle="modal">
                        <i class="bi bi-pencil-square"></i> Editar
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="container mt-2">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            {% if proprietarios.has_previous %}
            <li class="page-item ">
                <a class="page-link " href="?page={{ proprietarios.previous_page_number }}">Anterior</a>
            </li>
            {% endif %}
            {% for i in proprietarios.paginator.page_range %}
            <li class="page-item{% if i == proprietarios.number %} active{% endif %}">
                <a class="page-link text-success" href="?page={{ i }}">{{ i }}</a>
            </li>
            {% endfor %}
            {% if proprietarios.has_next %}
            <li class="page-item ">
                <a class="page-link " href="?page={{ proprietarios.next_page_number }}">Próximo</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>

<!-- Modal 1 -->
<div class="modal fade" id="cadastraproprietario" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 fw-bold" id="staticBackdropLabel">Cadastrar Proprietario</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="nome" class="form-label fw-semibold">Nome:</label>
                        <input type="text" class="form-control" name="nome" placeholder="Digite o nome do proprietario."
                            required>
                    </div>
                    <div class="mb-3">
                        <label for="imagem" class="form-label fw-semibold">Imagem:</label>
                        <input type="file" class="form-control" id="inputGroupFile02" required>
                    </div>
                    <div class="mb-3">
                        <label for="numero_telefone" class="form-label fw-semibold">Contato:</label>
                        <input type="text" class="form-control" name="numero_telefone"
                            placeholder="Digite o contato do proprietario." required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label fw-semibold">E-mail:</label>
                        <input type="text" class="form-control" name="email"
                            placeholder="Digite o e-mail do proprietario." required>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger rounded-3 fw-semibold px-6 me-2" data-bs-dismiss="modal"><i
                        class="bi bi-x-square-fill"></i> Cancelar</button>
                <button type="submit" class="btn btn-success rounded-3 fw-semibold px-6"><i
                        class="bi bi-plus-square-fill"></i> Cadastrar</button>
            </div>
            </form>
        </div>
    </div>
</div>


<!-- Modal 2 -->
<div class="modal fade" id="editarproprietario" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl ">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 fw-bold" id="staticBackdropLabel">Editar dados do proprietario</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-3">
                    <div class="col">
                        <label for="text" class="form-label fw-semibold">Nome:</label>
                        <input type="text" class="form-control" placeholder="Digite o nome do proprietario.">
                    </div>
                    <div class="col">
                        <label for="text" class="form-label fw-semibold">Contato:</label>
                        <input type="text" class="form-control" placeholder="Digite o contato do proprietario.">
                    </div>
                    <div class="col">
                        <label for="text" class="form-label fw-semibold">E-mail:</label>
                        <input type="text" class="form-control" placeholder="Digite o e-mail do proprietario.">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger rounded-3 fw-semibold px-6 me-2" data-bs-dismiss="modal"><i
                        class="bi bi-x-square-fill"></i>
                    Cancelar</button>
                <button type="button" class="btn btn-success rounded-3 fw-semibold px-6"><i
                        class="bi bi-plus-square-fill"></i>
                    Editar</button>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}