<!-- proprietarios.html -->
{% extends 'inicio/base.html' %}
{% load static %}

{% block head_extra %}
<!-- Adicione estilos adicionais específicos para esta página, se necessário -->
<style>
    body {
        font-family: 'Montserrat', sans-serif;
    }
</style>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center">

        <h2 class="fw-bold">Proprietarios Cadastrados</h2>

        <div class="d-flex align-items-center">
            <input type="text" class="form-control me-2" placeholder="Buscar...">

            <button type="button" class="btn btn-success rounded-3 align-self-center flex-shrink-0"
                data-bs-toggle="modal" data-bs-target="#cadastraproprietario">
                <i class="bi bi-pencil-square"></i> Cadastrar Proprietario
            </button>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Imagem</th>
                <th scope="col">Nome</th>
                <th scope="col">Contato</th>
                <th scope="col">Email</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <!-- Imagem redonda na primeira coluna -->
                <td class="align-middle"><img src='{% static "/assets/images/imgperfil.jpg" %}' class="rounded-circle"
                        alt="Imagem Redonda" width="40" height="40"></td>
                <!-- Imagem redonda na segunda coluna -->
                <td class="align-middle">Nonato Pereira</td>
                <td class="align-middle">(69) 99943-3343</td>
                <td class="align-middle">nonatopereira1234@gmail.com</td>
                <!-- Botões nas últimas colunas -->
                <td class="align-middle"><button class="btn btn-success ps-4 pe-4 rounded-3"> <i
                            class="bi bi-eye-fill"></i>
                    </button></td>
                <td class="align-middle"><button class="btn btn-success ps-4 pe-4 rounded-3"
                        data-bs-target="#editarproprietario" data-bs-toggle="modal"> <i class="bi bi-pencil-square"></i>
                    </button></td>
            </tr>
            <!-- Adicione mais linhas conforme necessário -->
        </tbody>
    </table>
</div>
<div class="container mt-2">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <li class="page-item disabled">
                <a class="page-link">Proximo</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Anterior</a>
            </li>
        </ul>
    </nav>
</div>

<!-- Modal 1 -->
<div class="modal fade" id="cadastraproprietario" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl ">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 fw-bold" id="staticBackdropLabel">Cadastrar Proprietario</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-3">
                    <div class="col">
                        <label for="text" class="form-label fw-semibold">Nome:</label>
                        <input type="text" class="form-control" placeholder="Digite o nome do proprietario.">
                    </div>
                    <div class="col">
                        <label for="text" class="form-label fw-semibold">Contato:</label>
                        <input type="text" class="form-control" placeholder="Digite o contato do proprietario.">
                    </div>
                    <div class="col">
                        <label for="text" class="form-label fw-semibold">E-mail:</label>
                        <input type="text" class="form-control" placeholder="Digite o e-mail do proprietario.">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger rounded-3 fw-semibold px-6 me-2" data-bs-dismiss="modal"><i
                        class="bi bi-x-square-fill"></i>
                    Cancelar</button>
                <button type="button" class="btn btn-success rounded-3 fw-semibold px-6"><i
                        class="bi bi-plus-square-fill"></i>
                    Cadastrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal 2 -->
<div class="modal fade" id="editarproprietario" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl ">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 fw-bold" id="staticBackdropLabel">Editar dados do proprietario</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-3">
                    <div class="col">
                        <label for="text" class="form-label fw-semibold">Nome:</label>
                        <input type="text" class="form-control" placeholder="Digite o nome do proprietario.">
                    </div>
                    <div class="col">
                        <label for="text" class="form-label fw-semibold">Contato:</label>
                        <input type="text" class="form-control" placeholder="Digite o contato do proprietario.">
                    </div>
                    <div class="col">
                        <label for="text" class="form-label fw-semibold">E-mail:</label>
                        <input type="text" class="form-control" placeholder="Digite o e-mail do proprietario.">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger rounded-3 fw-semibold px-6 me-2" data-bs-dismiss="modal"><i
                        class="bi bi-x-square-fill"></i>
                    Cancelar</button>
                <button type="button" class="btn btn-success rounded-3 fw-semibold px-6"><i
                        class="bi bi-plus-square-fill"></i>
                    Editar</button>
            </div>

        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}